<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0," charset="UTF-8">
    <title>Shopping Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../static/fontawesome/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../static/style.css}">
</head>
<body>
<div class="container-fluid">
    <h1>Admin panel users</h1>
</div>
</body>
</html>